
.age-confirmation .modal-open {
    overflow: hidden;
}

.age-confirmation .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.age-confirmation .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.age-confirmation .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.age-confirmation .modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
    .age-confirmation .modal.fade .modal-dialog {
        transition: none;
    }
}

.age-confirmation .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.age-confirmation .modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.age-confirmation .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - (0.5rem * 2));
    content: "";
}

.age-confirmation .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.age-confirmation .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.85);
}

.age-confirmation .modal-backdrop.fade {
    opacity: 0;
}

.age-confirmation .modal-backdrop.show {
    opacity: 0.5;
}

.age-confirmation .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.age-confirmation .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.age-confirmation .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.age-confirmation .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.age-confirmation .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.age-confirmation .modal-footer > :not(:first-child) {
    margin-left: .25rem;
}

.age-confirmation .modal-footer > :not(:last-child) {
    margin-right: .25rem;
}

.age-confirmation .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 576px) {
    .age-confirmation .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    .age-confirmation .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }
    .age-confirmation .modal-dialog-centered::before {
        height: calc(100vh - (1.75rem * 2));
    }
    .age-confirmation .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .age-confirmation .modal-lg {
        max-width: 800px;
    }
}

/* form control */



.age-confirmation .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    .age-confirmation .form-control {
        transition: none;
    }
}


.age-confirmation .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.age-confirmation .form-control:disabled, .age-confirmation .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.age-confirmation select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}


/* btn */

.age-confirmation .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    .age-confirmation .btn {
        transition: none;
    }
}

.age-confirmation .btn:hover, .age-confirmation .btn:focus {
    text-decoration: none;
}

.age-confirmation .btn:focus, .age-confirmation .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.age-confirmation .btn.disabled, .age-confirmation .btn:disabled {
    opacity: 0.65;
}

.age-confirmation .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.age-confirmation a.btn.disabled,
.age-confirmation fieldset:disabled a.btn {
    pointer-events: none;
}

/* core */
.age-confirmation .text-center {
    text-align: center !important;
}
.age-confirmation label {
    font-weight: 700;
}
.age-confirmation .title {
    text-transform: uppercase;font-size: 1rem;
}
.age-confirmation .alert p {
    color: inherit;
    margin: 0;
}
.age-confirmation #x13age {
    z-index: 99999;
}
.age-confirmation .modal-title {
    color:#333 !important;
}
.age-confirmation {
    color: #333;
}
.age-confirmation 
.col-md-4 {
    /*    width: 30%;*/
    display: inline-block;
}
.age-confirmation
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.age-confirmation
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.age-confirmation p {
    padding: 0 !important;
    margin:0 !important;
}